/* Header */
header h2, li, a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto 20px;
    height: 60px;
}

header h2 {
    margin-right: auto;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header h2 span {
    color: rgb(95, 95, 95);
}

header nav {
    list-style: none;
}

header nav li {
    display: inline-block;
    padding: 0px 10px;
    font-size: 18px;
}

header nav li a {
    color: black;
}

/* Section 1 */
.wrapper {
    background-image: url(pexels-photo-1729808.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin: 0px 20px;
    display: flex;
}

.wrapper .content {
    align-items: center;
    width: 100%;
    background-color: white;
    opacity: 0.85;
    margin: auto;
    text-align: center;
}

.wrapper .content h1 {
    color: black;
    font-size: 45px;
    font-family: 'Parisienne', cursive;
}

.wrapper .content p {
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Section 2 */
.wrapper2 {
    margin: 70px 20px;
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.wrapper2 h1 {
    color: black;
    font-family: 'Parisienne', cursive;
    text-align: center;
    margin-top: 100px;
}

.wrapper2 p {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
}

.wrapper2 h4 {
    color: black;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
}

/* Section 3 */
.wrapper3 h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    margin: 60px 20px;
    display: flex;
    flex-wrap: wrap;
}

.container {
    height: 700px;
}

.cont1 {
    width: 50%;
    float: left;
    text-align: center;
}

.cont2 {
    width: 50%;
    float: right;
}

.cont2 img {
    width: 400px;
    height: 450px;
    margin: 40px 100px;
}

.cont2 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 230px;
    padding-right: 20px;
    color: black;
}

.box {
    background-color: black;
    width: 170px;
    height: 320px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}

.box img {
    width: 150px;
    height: 200px;
    padding-top: 20px;
}

.box p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 12px;
    color: white;
}

/* Section 4 */
.bungkush {
    background-image: url(IMG_E3230.JPG);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    margin: 50px 0px;
    display: flex;
}

.tulisan {
    text-align: center;
    background-color: white;
    opacity: 0.8;
    margin: auto;
    align-items: center;
    width: 100%;
    height: auto;
}

.tulisan h1 {
    font-family: 'Parisienne', cursive;
}


/* Media Queries */
@media only screen and (max-width: 500px) and (min-width: 200px) {
    header nav {
        display: none;
    }

    .wrapper {
        height: 500px;
    }

    .wrapper .content h1 {
        font-size: 30px;
    }

    .wrapper .content p {
        font-size: 15px;
    }

    .wrapper2 {
        width: 400px;
    }

    .wrapper2 h1 {
        font-size: 30px;
    }

    .wrapper2 p {
        font-size: 16px;
    }

    .wrapper2 h4 {
        font-size: 16px;
    }

    .container {
        overflow: scroll;
        height: 600px;
    }

    .cont1 {
        width: 100%;
    }

    .cont2 {
        width: 100%;
        float: none;
    }

    .cont2 p {
        padding-top: 1px;
        font-size: 17px;
    }

    .bungkush {
        background-position: center;
    }
}

@media only screen and (max-width:1800px) and (max-height:900px) {
    
}



